<!DOCTYPE html>
<html>
    <head>
        <title>test</title>
        <link rel="stylesheet" href="/semantic/semantic.min.css">
    </head>
    <body>
        <div class="ui fixe inverted menu">
            <a href="/" class="header item"> Acceuil</a>
        </div>